@model CRM.Domain.Entities.Stocks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stocks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stocknbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stocknbr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
