@model IEnumerable<CRM.Domain.Entities.Stocks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shop.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stocknbr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shop.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stocknbr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
