@model CRM.Domain.Entities.Claims

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Claims</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaimType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimStartDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClaimId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
