@model CRM.Domain.Entities.Packs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Packs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Offers.OfferName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offers.OfferName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PacksId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
