@model IEnumerable<CRM.Domain.Entities.Packs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Offers.OfferName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if(item.Offers==null){
                @Html.DisplayFor(modelItem => item.Offers.OfferName)
            }else{
                @Html.ActionLink(
    linkText: item.Offers.OfferName,
    actionName: "Details",
    controllerName: "Offers",
    routeValues: new
    {
        id = item.Offers.OffersId
    },
    htmlAttributes: null
)
            }
            
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PacksId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PacksId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PacksId })
        </td>
    </tr>
}

</table>
