@model IEnumerable<CRM.Domain.Entities.Reclamation>

@{
    ViewBag.Title = "Index";
}

<nav class="navbar-left">
   @* <ul class="nav navbar-nav">*@
        <ul>@Html.ActionLink("Créer Nouvelle Réclamation", "Create")</ul>
        <ul>@Html.ActionLink("Ordre par Statut", "OrderByStatut")</ul>
        <ul>@Html.ActionLink("Afficher tout", "Index")</ul>
        <ul>@Html.ActionLink("Ajout Type Réclamation", "Create", "TypeReclams")</ul>
        <ul>@Html.ActionLink("Ajout Catégorie Réclamation", "Create", "CategReclams")</ul>
    @*</ul>*@
</nav>

    <h2 style="text-align:left">Gestion Réclamation</h2>
    <h3 style="text-align:left">Nombre Totale réclamations est : <B>@ViewBag.nb</B></h3>
    
    @*Pie Graphique*@
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Répartition par type de réclamation"
                },
                //subtitles: [{
                //    text: "Q2, 2016"
                //}],
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabel: "{label} - {y}",
                    dataPoints: @Html.Raw(ViewBag.Statistique),
                }]
            });
            chart.render();
        };
    </script>


<body>
    <div id="chartContainer" style="height: 250px; width: 100%;">    </div>
    <script src="~/Scripts/canvasjs.min.js"></script>
        @using (Html.BeginForm())
        {
            @*Bouton de recherches*@
            <table>
                <tr>
                    <td>
                        <div>
                            Recherche par Objet : @Html.TextBox("searchString")
                        </div>
                    </td>
                    <td> <input type="submit" value="Rechercher" id="recherche" /> </td>
                </tr>
            </table>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategReclam.ReclamCateg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeReclam.ReclamType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReclamSubject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReclamStartDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategReclam.ReclamCateg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeReclam.ReclamType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customers.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReclamSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReclamStartDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReclamId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ReclamId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReclamId })
                    </td>
                </tr>
            }

        </table>
</body>



