@model CRM.Domain.Entities.Offers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Packs.PackName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packs.PackName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OffersId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
