@model IEnumerable<CRM.Domain.Entities.Offers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Packs.PackName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Packs.PackName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OffersId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OffersId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OffersId })
        </td>
    </tr>
}

</table>
