@model IEnumerable<CRM.Domain.Entities.Shops>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningTime)
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ShopId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ShopId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShopId })
        </td>
    </tr>
    }
}

</table>
